html, body , .page-wrapper {
    height: 100%;
}

.navbar {
    background-color: rgba(54, 162, 235, 0.2);
}

.sidebar {
    float: left;
    overflow-y: auto;
    -webkit-transition: width 500s ease;
    -moz-transition: width 500s ease;
    -o-transition: width 500ms ease;
    transition: width 500ms ease;
    width: 0;
    border: 0;
    bottom: 0;
    min-height: 100%;
}

.sidebar.filter-bar {
    width: 65px;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.a {
    cursor: pointer;
}

.filter {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 500s ease;
    -moz-transition: max-height 500s ease;
    -o-transition: max-height 500ms ease;
    transition: max-height 500ms ease;
    overflow-y: auto;
}

.filter.in {
    max-height: 700px;
}

.sidebar.in {
    width: 180px;
}

.sidebar.filter-bar.in {
    width: 300px;
}

.nav-link:not(.country-nav-link).active {
    background: rgba(54, 162, 235, 0.2);
}

.nav-link.country-nav-link {
    background: rgba(54, 162, 235, 0.2)
}

.nav-link label {
    width: 100%;
    margin: 0
}

.nav-parent, .nav-parent-country {
    text-decoration: none !important;
}

.nav-parent.active::after {
    content: url('caret-up-dark.svg');
    vertical-align: middle;
    float: right;
}

.nav-parent:not(.active)::after, .nav-parent-country:not(.active)::after {
    vertical-align: middle;
    content: url('caret-down.svg');
    float: right;
}

.nav-parent-country::after {
    vertical-align: middle;
    content: url('caret-up-dark.svg');
    float: right;
}

.toggle-caret-secondary.open::after {
    vertical-align: -webkit-baseline-middle;
    content: url('caret-up-secondary.svg');
}

.toggle-caret-secondary:not(.open)::after {
    vertical-align: -webkit-baseline-middle;
    content: url('caret-down-secondary.svg');
}

.nav-option:nth-child(even) {
    background: #f8f9fa
}

.nav-option:nth-child(odd) {
    background: #FFF
}

ul.countries-list {
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    -webkit-column-count: 5;
    column-count: 5;
    column-gap: 0px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

/* Used for leaflet */
.mapid { height: 180px; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #80bdff !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Used for metadata card */
[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}
