<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/3bd8974ace.js" crossorigin="anonymous"></script>

    <link type="text/css" rel="stylesheet" href="bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="styles.css"/>
    <link type="text/css" rel="stylesheet" href="select2.min.css"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.css"/>

    <!-- We seem to need this to get the collapsable card to work -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.0/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
    <style>

        .help-text {
            margin-top: -5px;
            margin-bottom: 10px;
        }

        .info {
            cursor: pointer;
        }

        select {
            background-image: linear-gradient(45deg, transparent 50%, #212529 60%), linear-gradient(135deg, #212529 40%, transparent 50%);
            background-position: calc(100% - 15px) 15px, calc(100% - 9px) 15px, 100% 0;
            background-size: 6px 6px, 6px 6px;
            background-repeat: no-repeat;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        .vue-treeselect__control {
            font-size: inherit;
            display: table;
            padding-bottom: 0;
        }

        .vue-treeselect__control-arrow-container {
            padding-top: 0 !important;
        }

        .vue-treeselect__placeholder, .vue-treeselect__control-arrow {
            color: inherit !important;
        }

        .vue-treeselect__single-value, .vue-treeselect__placeholder {
            padding-left: 0;
            line-height: inherit;
            font-size: inherit;
        }

        .vue-treeselect--focused.vue-treeselect--searchable .vue-treeselect__single-value {
            color: inherit;
        }

        .vue-treeselect__control-arrow-container {
            padding-top: 8px;
            vertical-align: top;
        }

        .vue-treeselect__control-arrow {
            color: inherit;
        }

        .vue-treeselect__multi-value-item {
            color: white !important;
            background-color: #0056b3 !important;
            border-color: #0056b3 !important;
            font-size: 14px !important;
        }

        .vue-treeselect__icon {
            color: white !important;
        }

        .select2-container {
            width: 100% !important;
        }

        .select2-selection__choice {
            color: white;
            background-color: #0056b3 !important;
            border-color: #0056b3 !important;
            border-radius: 0px !important;
        }

        .select2-selection__choice__remove {
            color: white !important;
        }

        .dropdown-item:hover {
            color: #fff;
            text-decoration: none;
            background-color: #007bff;
        }

        .nav-tabs {
            border-bottom: 2px solid rgba(54, 162, 235, 0.2);
        }

        .nav-tabs .nav-link {
            border: 0;
        }

        .nav-tabs .nav-link.active {
            color: #007bff;
            background-color: rgba(54, 162, 235, 0.2);
            border-color: rgba(54, 162, 235, 0.2);
        }

        .lower-level {
            padding-left: 10px;
        }
    </style>

    <!-- Loading Screen -->
    <script type="text/javascript">
        $(window).ready(function () {
            // Animate loader off screen
            $(".loader").fadeOut("fast");
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css">
</head>

<body>
<div class="loader"></div>

<div class="d-none page-wrapper" data-bind="css:{'d-none':false}">

    <nav class="pl-5 navbar navbar-light d-block">
        <span class="navbar-brand" style="margin-top: -6px">
            <img src="./logo-dark-drop.png" height="50px"/>
        </span>
        <div class="d-inline-block"
             style="color: #0056b3; border-right: 1px solid #007bff; padding-right: 15px; font-weight: 500;vertical-align: -webkit-baseline-middle;">
            VIMC Data Visualisation Tool
        </div>
        <div class="dropdown d-inline-block">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="margin-top: 9px;">
                File
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#exportModal" data-toggle="modal" data-target="#exportModal">Export
                    png</a>
                <a class="dropdown-item" href="#">Export csv</a>
                <hr/>
                <a class="dropdown-item" href="#">Export whole dataset</a>
            </div>
        </div>
        <div class="d-inline-block"
             style="border-left: 1px solid #007bff; padding-left: 15px; vertical-align: middle; margin-top: 9px;">
            <a href="#">
                Version
            </a>
        </div>
    </nav>

    <div class="clearfix"></div>

    <div class="contents container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-9 pt-5 pl-5">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Impact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Time series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Map</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div id="impact" class="tab-pane" data-bind="css: {'active': currentPlot() == 'Impact'}">
                        <div class="py-5 px-3">

                            <p style="font-weight:bold;color:red"
                               data-bind="text: warningMessage, visible: showWarning">
                            </p>

                            <canvas id="myChart"></canvas>

                        </div>
                    </div>
                    <div id="timeseries" class="tab-pane"
                         data-bind="css: {'active': currentPlot() == 'Time series'}">
                        <div class="p-5">

                            <p style="font-weight:bold;color:red"
                               data-bind="text: warningMessage, visible: showWarning">
                            </p>

                            <div style="max-width: 1000px">
                                <canvas id="timeSeriesChart"></canvas>
                            </div>

                            <!--           <p>
                                        When stratifying by anything other than disease, the plots might overstate the total figures. This is because we might count the same person as dying from different diseases.
                                      </p> -->
                        </div>
                    </div>
                    <form class="px-3">
                        <div class="form-group row">
                            <div class="col">
                                <label>
                                    Compare across
                                </label>
                                <p class="help-text text-muted small">
                                    What should we use as the x-axis for the graph?
                                </p>
                                <select class="form-control" data-bind="options: xAxisOptions, value: xAxis"></select>
                                <div class="form-check mt-3" data-bind="visible: xAxis() == 'year'">
                                    <input class="form-check-input" type="checkbox" data-bind="checked: cumulativePlot"
                                           id="cumulativePlotId">
                                    <label class="form-check-label" for="cumulativePlotId">
                                        Cumulative
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <label>Stratify by
                                </label>
                                <p class="help-text text-muted small">
                                    What should we disaggregate the bars by?
                                </p>
                                <select class="form-control" data-bind="options: yAxisOptions, value: yAxis"></select>
                            </div>
                            <div class="col">
                                <label style="display: block">Show top</label>
                                <select type="number" class="form-control"
                                        style="width: 100px; display:inline;margin-right: 5px;"
                                        data-bind="options: maxPlotOptions, value: maxBars"></select> values
                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="checkbox"
                                           data-bind="checked: hideLabels"
                                           id="hideLabelsId">
                                    <label class="form-check-label" for="hideLabelsId">Hide Labels</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-3 mt-5 pl-5 pr-3">
                <form>
                    <div class="form-group">
                        <label>Metric
                            <span class="info icon" data-toggle="modal" data-target="#helpMetricModal">
                                    <i class="far fa-question-circle"></i>
                                </span>
                        </label>
                        <select class="form-control" data-bind="value:  humanReadableBurdenOutcome">
                            <option value="deaths">Deaths</option>
                            <option value="deaths_averted">Deaths averted</option>
                            <option value="dalys">Dalys</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Method
                            <span class="info icon" data-toggle="modal" data-target="#methodModal">
                                    <i class="far fa-question-circle"></i>
                                </span></label>
                        <select class="form-control" data-bind="value: yearMethod">
                            <option value="cross">Cross-sectional</option>
                            <option value="cohort">Lifetime</option>
                        </select>
                    </div>
                    <div class="form-group row" data-bind="with: yearFilter">
                        <div class="col">
                            <label>First year</label>
                            <select class="form-control" data-bind="value: selectedLow">
                                <option value="2000">2000</option>
                                <option value="2000">2001</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Last year</label>
                            <select class="form-control" data-bind="value: selectedHigh">
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Age</label>
                        <select class="form-control" data-bind="value: ageGroup">
                            <option value="all">All</option>
                            <option value="under5">Under 5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <div id="country-select">
                            <treeselect v-model="value" :multiple="true" :options="options"/>
                        </div>
                    </div>
                    <div class="form-group" data-bind="with: vaccineFilter,
                     visible: showVaccineFilter">
                        <label>Disease/vaccine</label>
                        <div id="disease-select">
                            <treeselect v-model="value" :multiple="true" :options="options"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="exportModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Export plot as png</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="plot-title" class="col-form-label">Plot title</label>

                        <input type="text" id="plot-title" class="form-control"
                               data-bind="value: plotTitle"/>

                    </div>
                    <div class="form-group">
                        <label for="plot-title" class="col-form-label">File name</label>

                        <input type="text" id="file-name" class="form-control"
                               data-bind="value: fileName"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" data-dismiss="modal" data-bind="click: exportPlot">Export
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Help Modal -->
<div class="modal fade" id="helpPlotModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">
                    <span data-bind="text: modalHelpTitle"></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span data-bind="html: modalHelpMain"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Filter Modal -->
<div class="modal fade" id="helpFilterModal" tabindex="-1" role="dialog" aria-labelledby="helFilterLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpFilterLabel">
                    Filter Options
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span data-bind="html: modalFilterHelpMain"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Metrics Modal -->
<div class="modal fade" id="helpMetricModal" tabindex="-1" role="dialog" aria-labelledby="helpMetricLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpMetricLabel">
                    Metrics
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span data-bind="html: modalMetricsHelpMain"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Method Modal -->
<div class="modal fade" id="methodModal" tabindex="-1" role="dialog" aria-labelledby="methodModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="methodModalLabel">Explanation of methods</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a data-bind="visible: showCross"/></a>
                <h4>Cross-sectional</h4>
                <p>This method can be thought of as the impact by calendar year, <i>e.g.</i> the number of cases
                    prevented in a given year. While the resulting estimates are intuitively easy to understand, they
                    fail to represent the long-term future impact of vaccination on individual disease risk. In
                    addition, the impact estimates cannot be linked to specific vaccination activities.</p>
                </a>

                <a data-bind="visible: showCohort"/>
                <h4>Lifetime</h4>
                <p>This method can be thought of as the impact by birth year, <i>e.g.</i> the number of cases prevented
                    in a cohort born in a given year over the course of their lifetime. Note that we calculate impact
                    for birth cohorts from 2000 to 2030, and consider the lifetime up to 2100. A lifetime or cohort
                    approach to presenting impact is appropriate for capturing the direct effects of vaccination in
                    protecting the immunised individual. However, indirect effects of vaccination (acting via herd
                    immunity) play out across the whole population.</p>
                </a>

                <a data-bind="visible: showYearOfVac"/>
                <h4>Year of Vaccination</h4>
                <p>This is the approach used by VIMC to estimate vaccine impact by year of vaccination. It can be used
                    to easily determine the efficacy of a particular vaccination campaign.</p>
                </a>
                <hr>
                <p>More in-depth descriptions of the science underlying the methods can be found at the
                    <a href="https://www.vaccineimpact.org/resources/" target="_blank">Vaccine Impact Modelling
                        Consortium</a> website. In particular a in pre-print of the
                    <a href="https://medrxiv.org/cgi/content/short/19004358v1" target="_blank">first VIMC paper</a> and
                    the associated

                    <a href="https://www.vaccineimpact.org/resources/VIMC_impact_estimates-03Sep19.html"
                       target="_blank">technical description of the methods.</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Meta-data modal -->
<div class="modal fade" id="metadataModal" tabindex="-1" role="dialog" aria-labelledby="metadataModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="methodModalLabel">Plot Metadata</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span data-bind="html: metaData"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="bundle.js"></script>

<script>
    Vue.component('treeselect', VueTreeselect.Treeselect);

    new Vue({
        el: '#country-select',
        data: {
            // define the default value
            value: null,
            // define options
            options: [{
                "id": "pine",
                "label": "PINE",
                "children": [
                    {
                        "id": "1-1",
                        "label": "Pakistan"
                    },
                    {
                        "id": "1-2",
                        "label": "India"
                    },
                    {
                        "id": "1-3",
                        "label": "Nigeria"
                    },
                    {
                        "id": "1-4",
                        "label": "Ethiopia"
                    }
                ]
            }]
        },
    });


    new Vue({
        el: '#disease-select',
        data: {
            // define the default value
            value: null,
            // define options
            options: [{
                id: "HepBparent",
                label: "HepB",
                children: [{id: "HepB", label: "HepB"}, {id: "HepB_BD", label: "HepB_BD"}]
            },
                {id: "Hibparent", label: "Hib", children: [{id: "Hib3", label: "Hib3"}]},
                {
                    id: "Measlesparent",
                    label: "Measles",
                    children: [{id: "MCV1", label: "MCV1"}, {id: "MCV2", label: "MCV2"}, {
                        id: "Measles", label: "Measles"
                    }]
                }]
        },
    });
</script>

</body>
</html>
